# ============================================================
# Django (бэкенд)
# ============================================================

# Секретный ключ Django — обязательно заменить на свой!
# Сгенерировать: python -c "from django.core.management.utils import get_random_secret_key as g; print(g())"
SECRET_KEY=tralalalalala

# Режим разработки (True — локально, False — продакшен)
DEBUG=True

# Разрешённые хосты (через запятую)
ALLOWED_HOSTS=localhost,127.0.0.1